@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700&display=swap');


:root {
    --asosiy-rang-asosiy-matnlarga: #FFFFFF;
    --asosiy-rang-matnlarga: #a7a7a7;
    --asosiy-rang-orqafonlarga: #171719;
    --asosiy-rang-hover-active: #D9AD5C;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Syne', sans-serif;
}

.portfolio {
    width: 100%;
    height: auto;
    margin: auto;
    padding: 80px 0;
    background: url('../../img/service-background.jpg'), no-repeat, center center / cover;
}

.portfolio_content {
    max-width: 1440px;
    height: auto;
    margin: auto;
    box-sizing: border-box;
    padding: 30px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.portfolio_content_text h1{
    font-size: 42px;
    color: var(--asosiy-rang-asosiy-matnlarga);
}
.portfolio_content_project{
    width: 100%;
    height: auto;

}

.portfolio_content_project_desktop{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;

}
.portfolio_content_project_planshet{
    display: none;
}
.portfolio_content_project_mobile{
    display: none;
}

@media screen and (max-width: 769px){
    .portfolio_content_project_desktop{
     display: none;
    }
    .portfolio_content_project_planshet{
        display: block;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
    }
}
@media screen and (max-width: 426px){
    .portfolio_content{
        width: 100%;
        padding: 30px 30px;
    }
    .portfolio_content_text h1{
        font-size: 46px;
    }
    .portfolio_content_project_desktop{
     display: none;
    }
    .portfolio_content_project_planshet{
        display: none;

    }
    .portfolio_content_project_mobile{
        display: block;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
    }
}