@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700&display=swap');


:root {
    --asosiy-rang-asosiy-matnlarga: #FFFFFF;
    --asosiy-rang-matnlarga: #a7a7a7;
    --asosiy-rang-orqafonlarga: #171719;
    --asosiy-rang-hover-active: #D9AD5C;
    --asosiy-rang-fonlarga: #222224;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.Services{
    width: 100%;
    height: auto;
    margin: auto;
    background: url('../../img/service-background.jpg'), no-repeat, center center / cover;
    padding: 80px 0;
}
.services_content{
    width: 1440px;
    height: auto;
    margin: auto;
    padding: 0 80px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.services_content_text{
    width: 100%;
    height: auto;

}
.services_content_text h2{
    font-size: 24px;
    line-height: 26px;
    font-weight: 400;
    color: var(--asosiy-rang-hover-active);
    text-align: center;
}
.services_content_text h1{
    width: 50%;
    margin: auto;
    font-size: 42px;
    line-height: 54px;
    font-weight: 600;
    color: var(--asosiy-rang-asosiy-matnlarga);
    text-align: center;
    margin-top: 20px;
}
.services_content_services{
    /* width: 1440px; */
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 40px;

}
.services_content_services_box{
    width: 25%;
    height: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
    background-color: var(--asosiy-rang-fonlarga);
    overflow: hidden;
}
.services_content_services_box img{
    width: 100%;
    transition: all 0.5s ease;  
}
.services_content_services_box img:hover{
    transform: scale(110%);
}

.services_content_services_box_text{
    box-sizing: border-box;
    padding:20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.services_content_services_box_text h1{
    font-size: 24px;
    color: var(--asosiy-rang-asosiy-matnlarga);
}
.services_content_services_box_text button{
    font-size: 24px;
    padding: 5px 10px;
    background-color: var(--asosiy-rang-hover-active);
    color: var(--asosiy-rang-orqafonlarga);
    border: none;
    transition: all 0.5s ease;
}
.services_content_services_box_text button:hover{
    transform: scale(105%);
}

@media screen and (max-width: 769px) {
    .Services{
        max-width: 765px;
        width: 100%;
    }
    .services_content{
        width: 769px;
    }
 
    .services_content_text h1{
        width: 100%;
        /* font-size: 38px; */
    }
    .services_content_services_box_text h1{
        font-size: 14px;

    }
    .services_content_services_box_text button{
        font-size: 14px;
        padding: 5px 10px;

    }
}
@media screen and (max-width: 426px){
    .Services{
        max-width: 425px;
        width: 100%;
    }
    .services_content{
        width: 100%;
        padding: 0 30px;
    }
    .services_content_text h1{
        width: 100%;
        font-size: 28px;
        line-height:38px;
    }
    .services_content_services_box{
        max-width: 80%;
        margin: auto;
    }

    .services_content_services_box_text h1{
        font-size: 28px;

    }
    .services_content_services_box_text button{
        font-size: 24px;
        padding: 5px 10px;

    }
    .services_content_services_box{
        width: 100%;
    }
}